* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

img {
    vertical-align: middle;
}

button{
    border: none;
}

input, textarea{
    outline: none;
}

.clearfix {
    clear: both;
}


.container {
    width: 1130px;
    margin: 0 auto;
}

#main-header {
    position: relative;
    background-color: #ffffff;
    
}



#main-header .search_area{
    display: flex;
	justify-content: center;
	align-items: center;

    position:relative;
    height: 160px;
    background-color: #ffffff;

border-bottom: 1px solid #e4e8eb;

}

#main-header .search_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 582px;
    height: 52px;
    border: solid 2px #19ce60
}

#main-header .search_wrap input{
    width: calc(100% - 52px);
    height: 100%;
    /* background-color: yellow; */
    padding: 13px 15px;

    font-size: 22px;
    border: none;
}

#main-header .search_wrap input:focus {
    outline: none;
}

#main-header .search_wrap button{
    width: 52px;
    height: 100%;
    background-color: #19ce60;
}

#main-header #navbar {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 /12%);
}

#main-header #navbar ul {
    padding: 11px 0;
}

#main-header #navbar ul li{
    display:inline-block;
    margin-right: 5px;
}

#main-header #navbar ul li a{
    color: #03c75a ;
    font-size: 15px;
    font-weight: 700;
}

main {
    overflow: hidden;
    padding-top: 20px;
}

main #main_left{
    float: left;
    width: 750px;
    
    /* background-color: pink; */
}

main #main_right {
    float: right;
    width: 350px;
    /* height: 2000px; */
    /* background-color: yellow; */
}

main #banner_wrap{
    width: 750px;
    height: 135px;
    background-color: #000000;

    margin-bottom: 12px;
}

main #news_wrap .news_header{
    padding: 22px 0 16px 0;

    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;


}

main #news_wrap .news_header h2 {
    font-size: 14px;
    font-weight: 700px;
}
main #news_wrap .news_header .news_btn_wrap {
    width: 60px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}

main #news_wrap .news_header .news_btn_wrap button {
    width: 15px;
    height: 15px;
    background-color:blue;
}

main #news_wrap .news_lists{
    overflow: hidden;
    border: solid 1px #dae1e6;
}

main #news_wrap .news_lists .news_list {
    position:relative;
    float: left;
    width: 16.66%;
    height: 65px;
    background:#ffffff;

    border-bottom: solid 1px #e4e8ed;
    border-right: solid 1px #e4e8ed;
    text-align: center;
}

main #news_wrap .news_lists .news_list:nth-child(6n){

    border-right: none;

}

main #news_wrap .news_lists .news_list:nth-child(19),
main #news_wrap .news_lists .news_list:nth-child(20),
main #news_wrap .news_lists .news_list:nth-child(21),
main #news_wrap .news_lists .news_list:nth-child(22),
main #news_wrap .news_lists .news_list:nth-child(23),
main #news_wrap .news_lists .news_list:nth-child(24){
    border-bottom: none;
}

main #news_wrap .news_lists .news_list img{
    position: relative;

    top:50%;
    transform: translateY(-50%);
}
main  #blog_wrap .blog_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-bottom: 17px;
}
main  #blog_wrap {
    padding-top: 35px;
}

main  #blog_wrap .blog_header .left_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main  #blog_wrap .blog_header .left_header h3{
font-size: 14px;
margin-right: 8px;
}
main  #blog_wrap .blog_header .left_header span{
font-size: 12px;
color:gray;
}

main  #blog_wrap .blog_header .right_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

main  #blog_wrap .blog_header .right_header span{
font-size: 12px;
color: gray;
}

main  #blog_wrap .blog_header .right_header .count strong{
color: #000000;
}
main #blog_wrap .blog_nav ul {
    overflow: hidden;
    border: solid 1px #eae1e6;
}

main #blog_wrap .blog_nav ul li{
    width: 12.5%;
    float: left;
    height: 49px;
    border-right: solid 1px #eae1e6;
}
main #blog_wrap .blog_nav ul li:last-child{
    border-right:0; 
}
main #blog_wrap .blog_nav ul li a{
    display: block;
    width: 100%;
    height: 100%;

    line-height: 49px;
     text-align: center;
}

main #blog_wrap .blog_list_wrap{
    padding-top: 18px;
    border-bottom: solid 1px #dae1e6;
}

main #blog_wrap .blog_list_wrap li {
margin-bottom: 18px;
}

main #blog_wrap .blog_list_wrap li a{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;    
}
main #blog_wrap .blog_list_wrap li img{
    width: 170px;
    height: 114px;
margin-right: 21px;
}
main #blog_wrap .blog_list_wrap li .blog_list_info{
    width: 559px;
    padding-right: 47px;
}

main #blog_wrap .blog_list_wrap li .blog_list_info span{
font-size: 12px;
color: #35ae5e;
}

main #blog_wrap .blog_list_wrap li .blog_list_info h4{
    font-size: 13px;
}

main #blog_wrap .blog_list_wrap li .blog_list_info p{
    font-size: 13px;
}

main #blog_wrap .blog_list_wrap li .blog_list_info .date-wrap span{
    color: #505050;
    
}

main #blog_wrap .blog_media_wrap ul{
    display: flex;
	
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

    padding: 18px 0;

    border-bottom: solid 1px #dae1e6;

}

main #blog_wrap .blog_media_wrap ul .blog_media_info {
    padding-top: 12px;
}

main #blog_wrap .blog_media_wrap ul .blog_media_info h4{
    font-size: 13px;

}

main #blog_wrap .blog_media_wrap ul .blog_media_info span{
    font-size: 12px;
}


#main_right #account {
    width: 100%;
    border: solid 1px #dae1e6;
    padding: 16px 16px 12px 16px;
    margin-bottom: 12px;
}

#main_right #account p{
    font-size: 12px;
    padding-left: 3px;
    margin-bottom: 11px;

}

#main_right #account a{
    display: block;
    width: 100%;

    padding: 15px 0;
    margin-bottom: 14px;

    text-align: center;
    font-size: 13px;
    background-color: #19ce60;
    border-radius: 13px;
    color: #ffffff;
    font-weight: 700;
  
}

#main_right .account_sub {
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	

padding: 0 8px;

}

#main_right .account_sub span{
    font-size: 12px;
}

#main_right #banner {
    width: 348px;
    height: 198px;
    background-color: #000000;

    margin-bottom: 20px;
}

#main_right #shop_wrap .shop_title {
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	
    padding: 12px 0;


}
#main_right #shop_wrap .shop_title h3,
#main_right #shop_wrap .shop_title h4{
    font-size: 13px;
}

#main_right #shop_wrap .shop_title .right {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	

}

#main_right #shop_wrap .shop_title h4 {
    margin-left: 15px;
}

#main_right #shop_wrap .shop_content {
    border:solid 1px #e4e8eb;
    padding: 0 0 22px;
}

#main_right #shop_wrap .shop_content .shop_goods {
    padding:55px 0 8px;
}


#main_right #shop_wrap .shop_content .commerce-lists{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

    padding: 12px 4px ;
    background-color: #f7f9fa;
    border-bottom: solid 1px #dae1e6;
}

#main_right #shop_wrap .shop_content .commerce-lists li{

    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 5px;

   
}

#main_right #shop_wrap .shop_content .commerce-lists li:nth-child(1),
#main_right #shop_wrap .shop_content .commerce-lists li:nth-child(9){
    margin-left: 0;
}

#main_right #shop_wrap .product-lists {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

    padding: 5px;
	
}

#main_right #shop_wrap .product-lists li{
    margin-bottom: 10px;
}

#main_right #shop_wrap .product-lists .product-info{
    text-align: center;
}

#main_right #shop_wrap .product-lists h3,
#main_right #shop_wrap .product-lists span{
    font-size: 12px;
}

#main-footer {
    background-color: #fafbfc;
    border-top: solid 1px #e4e8eb;
    padding-bottom: 92px;
}
#main-footer .news_lists {
    display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

    padding: 24px 0;

}

#main-footer .news_lists li {
 display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
#main-footer .news_lists li img{
    margin-right: 15px;
}

#main-footer .news_lists li img .news_info{
width: 172px;

}

#main-footer .news_lists li  .news_info span,
#main-footer .news_lists li  .news_info h3,
#main-footer .news_lists li  .news_info p{
    font-size: 13px;

}

#main-footer .news_lists li  .news_info span {
    color:#58c464;
}

#main-footer .corp_lists {
    padding-top: 25px;
    border-top: solid 1px #e4e8ed
}
#main-footer .corp_lists li{
    display: inline-block;
    vertical-align: middle;

}
#main-footer .corp_lists li:first-child:before {
    content: initial;
}

#main-footer .corp_lists li:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;

    vertical-align: -1px;
}

#main-footer .corp_lists li a{
    font-size: 12px;
}


















